.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  // @include mq("medium") {
  //   width: 100%;
  // }
  @include mq("wide") {
    max-width: 1400px;
  }
  @include mq("ulwide") {
    max-width: 1500px;
  }
}
